@import 'styles';

form {
    display: flex;
    flex-direction: column;
    padding: 45px;
}

#container-img {
    height: 400px;
    width: 100%;
}

#img-movie-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

input#img {
    display: none;
}

label[for='img'] {
    display: block;
    height: 100px;
    width: 100%;
    background-color: $clr-blue-dark;
}

#form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-left, .form-right {
    padding: 25px;
}

