<main class="main" id="main">
  <aside id="aside-menu" class='aside-menu'>
    <img src="" alt="logo cdaflix" class='logo'/>
      <ul class='aside-menu'>
          <li class='aside-menu-link active'>
              <a><i class="bi bi-film"></i> Tous les films</a>
          </li>
          <li class='aside-menu-link active'>
              <a><i class="bi bi-film"></i> Ajouter un film</a>
          </li>
      </ul>
  </aside>  
  <div class="content">
    <nav id="nav" class="navigation">
      <div class="container-fluid">
          <div class="wrapper d-flex flex-row gap-3">
              <a class="navbar-brand">Navbar</a>
          </div>
      </div>
    </nav> 
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

