<main class="main" id="main">
  <aside id="aside-menu" class='aside-menu'>
    <img src="" alt="logo cdaflix" class='logo'/>
      <ul class='aside-menu'>
          <li class=''>
              <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"> Tous les films</a>
          </li>
          <li class=''>
              <a routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page">Ajouter un film</a>
          </li>
      </ul>
  </aside>  
  <div class="content">
    <nav id="nav" class="navigation">
      <div class="container-fluid">
          <div class="wrapper d-flex flex-row gap-3">
              <a class="navbar-brand">Navbar</a>
          </div>
      </div>
    </nav> 
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

