

body {
	font-family: 'Open Sans', sans-serif;
}

.content-page {
	height: calc(100vh - var(--navbar-height));
	margin-top: var(--navbar-height);
	margin-left: 265px;
	background-color: var(--clr-grey-light);
}

#main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#aside-menu {
    background-color: $clr-blue-dark;
    color: $clr-white-light;
    height: 100dvh;
}

#nav {
    height: 65px;
    background-color: $clr-grey-light;
}