<main id="main-content">
  <aside id="aside-menu">
    <h1 class="aside-menu_logo">cdaflix</h1>
    <ul class='aside-menu_nav'>
        <li class=''>
            <a routerLink="" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                  true}"
            > Tous les films</a>
        </li>
        <li class=''>
            <a routerLink="/create" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                  true}"
            >Ajouter un film</a>
        </li>
    </ul>
  </aside>  
  <div class="main-content_right">
    <nav id="nav" class="navigation">
      <div class="nav_wrap-user-menu">
        <div class="nav_user-img">
          <img src="" alt="">
        </div>
        <div class="nav_user-infos">
          <h3>Hamidou SOW</h3>
          <span>admin</span>
        </div>
      </div>      
    </nav> 
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

