@import 'styles';

.container-search-bar {
    padding: 20px;
}
.container-search-bar input {
    height: 39px;
    width: 100%;
    max-width: 650px;
    border-radius: 5px;
}
.container-search-bar input[type=search] {
    background: $clr-blue-navigation;
    border: 1px solid $clr-blue-night;
    color: $clr-white-light;
    padding: 0 10px;

    &:focus-visible {
        outline: 1px solid $clr-blue-light;
    }
}

