// @import 'styles';

.container-search-bar {
    padding: 20px;
}
.container-search-bar input {
    height: 39px;
    width: 100%;
    max-width: 650px;
    border-radius: 5px;
}
.container-search-bar input[type=search] {
    background: var(--clr-blue-navigation);
    border: 1px solid var(--clr-blue-night);
    color: var(--clr-white-light);
    padding: 0 10px;

    &:focus-visible {
        outline: 1px solid var(--clr-blue-light);
    }
}

