
* {
    color: var(--clr-grey-light);
}

.modal_ {
    background-color: var(--clr-blue-night);
}



@media screen and (min-width: 320px) {

    h1 {
        font-size: var(--large-font-size);
    }
    
    p {
        font-size: var(--normal-font-size);
    }

    section {
        margin-bottom: 1em;
    }

    .modal_content {
        display: grid;
        grid-template-rows: 1fr auto;
        padding: 25px;
        row-gap: 2em;
    }

    .movie-details {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .movie_poster {
        img {
            height: 100%;
            width: 100%;
            max-height: 250px;
            max-width: 150px;
            display: block;
            margin: auto;
            object-fit: cover;
        };
    }

    .movie-title {
        font-weight: 700;
        margin-bottom: 1em;
        // padding: .8rem;
    }

    .movie-overview {
        line-height: 120%;
        font-weight: 500;
        margin-bottom: 1em;
        // padding: 1rem;        
    }   

    .modal_movie_details_right {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    //todo: faire un composant "average-component"
    .card_header--vote-average {
        height: 100%;
        width: 100%;
        max-height: 25px;
        max-width: 25px;
        border-radius: 50%;
        border: 2px solid var(--clr-blue-light);
        background: var(--clr-blue-night);
    
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: clamp(8px, 1vw, 11px);
            color: var(--clr-white);
        }
    }

    .movies-suggestions {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
            
    }

}


