<div class="modal_">
    <div class="modal_btn-close" (click)="closeModal()">
        <i class="bi bi-x"></i>
    </div>
    <div class="modal_content">
        <section class="movie-details">
            <div class="movie-poster">
                <img src="{{movie ? imageBaseurl+movie.poster_path: ''}}" class="movie-poster_img" alt="">
            </div>
            <div>
                <h3 class="movie-title h3">{{ movie ? movie.original_title : ''}}</h3>
                <p class="movie-language">{{ movie ? movie.original_language : ''}}</p>             
                <p class="movie-release_date">{{ movie ? movie.release_date : ''}}</p>
                @if(movie) {
                    <p class="note-average">Note {{ movie.vote_average  | noteFormat: 1}}</p>                   
                }
            </div>
        </section>
        <section class="modal_overview">
            <h2 class="title">Synopsis</h2>
            <p class="movie_overview"> {{ movie ? movie.overview : '' }} </p>
        </section> 
        <section class="providers"> 
            @for (provider of movieProviders(); track $index) {
                
                <a href="{{provider.link}}" target="_blank">Où regarder {{ movie ? movie.title + ' ? ' : '' }}</a>
                
                <div class="d-flex flex-column">  
                    <h3>En vente</h3>              
                    <div class="d-flex flex-row gap-2">         
                        @for (buyItem of provider.buy; track $index) { 
                            <img src="{{ imageBaseurl + buyItem.logo_path }}" alt="{{buyItem.provider_name}}" width="35">                                 
                        }
                    </div> 
                </div>
                <div class="d-flex flex-column">  
                    <h3>En location</h3> 
                    <div class="d-flex flex-row gap-2">                       
                        @for (item of provider.rent; track $index) {                                   
                            <img src="{{ imageBaseurl + item.logo_path }}" alt="{{item.provider_name}}" width="35">
                        }
                    </div>
                </div>
                
            }
            <!-- @for (item of movieProviders() | keyvalue; track $index) {
                @if (item.key == languageSelected) {
                    <div>
                        key: {{item.key}}
                    </div>
                    @for(i of item.value | keyvalue; track $index) {
                        <div> key of CA : {{i.key}}</div>
                        <div> value of the key of CA : {{i.value}}</div>
                        @for(j of item.value | keyvalue; track $index) {
                            {{j.value}}
                        }
                    
                    }
                }                        
            } -->
        </section>   
        <section class="movies-suggestion">
            <h2>Films similaires</h2>
            <div>
                @for(movie of moviesSuggestions(); track $index) {
                    <!-- <app-card [movie]="movie"></app-card> -->
                    <!-- <h3> {{movie.original_title}} </h3> -->
                }
                
            </div>
        </section>   
    </div>
</div>

