<aside id="aside-menu">
    <h1 class="aside-menu_logo">cdaflix</h1>
    <ul class='aside-menu_nav'>
        <li class=''>
            <a routerLink="" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                    true}"
            > Nouveautés </a>
        </li>
        <li class=''>
            <a routerLink="/create" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                    true}"
            >Ajouter un film</a>
        </li>
        <li class=''>
            <a routerLink="/films" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                  true}"
            > Films </a>
        </li>
        <li class=''>
            <a routerLink="/series" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                  true}"
            > Séries </a>
        </li>
        <li class=''>
            <a routerLink="/mylist" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                    true}"
            > Ma liste </a>
        </li>
    </ul>
  </aside>  