.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--clr-blue-dark);
    height: 100%;
    position: relative;
    transition: 0.5s;
    

    &:hover {
        transition-delay: .8s;
        transform: scale(1.3);
        z-index: 10;
    }
}
// .card header {
//     position: relative;
//     height: 12rem;
// }

// .card .card_header-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgb(28,33,55);
//     background: linear-gradient(0deg, rgba(28,33,55,1) 3%, rgba(28,33,55,0) 100%);
// }

.card_main-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-menu {
    position: absolute;
    top: 25px;
    right: 25px;
}


.card-body {
    padding: 10px 20px;
    color: var(--clr-white-light);
}

.card-body_title {
    font-weight: 600;
    margin-bottom: 10px;
}

.card-body_description {
    text-overflow: ellipsis;
}

.card-body h5 {
    font-size: 13px;
    margin-bottom: 7px;
}

.card-body .btn-fav {
    height: 29px;
    width: 29px;
    border: 1px solid var(--clr-white-light);
    background-color: var(--clr-blue-dark);
    border-radius: 50%;

    &:bi-heart:before {
        color: 1px solid var(--clr-white-light);
    }
}

.card footer {
    color: var(--clr-white-light);
    font-size: 13px;
    padding: 10px 20px;

}

