#search-results {
    min-height: 100dvh;
}

@media screen and (min-width: 320px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
