.container-search-bar {
    display: block;
}
.container-search-bar input {
    height: 39px;
    width: 100%;
    max-width: 650px;
    border-radius: 5px;
}
.container-search-bar input[type=search] {
    background: var(--clr-blue-night);
    //border: 1px solid var(--clr-blue-night);
    border: transparent;
    color: var(--clr-white);
    padding: 0 10px;

    &:focus-visible {
        outline: 1px solid var(--clr-blue-light);
    }
}

@media screen and (min-width: 320px) {

    .container-search-bar {
        display: none;
    }
    .container-search-bar.active {
        display: block;
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        margin: 0 5px;
    }
}

@media screen and (min-width: 992px) {
    .container-search-bar {
        display: block;
    }
}

