
* {
    color: var(--clr-grey-light);
}

.movie-wrapper {
    background-color: var(--clr-blue-night);
    // height: 80dvh;
}

h1 {
    font-size: 33px;
    font-weight: 700;
}

.movie_header {
    height: 25dvh;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    };
}

.movie-content {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 25px;
}