// $clr-blue-dark: #1C2137;
// $clr-blue-night: #171B2B;
// $clr-blue-navigation: #202945;
// $clr-blue-light: rgb(62, 85, 149);

// $clr-white: #ffffff;
// $clr-white-light: #CED2E8;
// $clr-grey-light: #F1F1F1;
// $clr-red: #B61A1A;
// $padding-16-60px: 1rem 3.75rem;

:root {

--clr-blue-dark: #1C2137;
--clr-blue-night: #171B2B;
--clr-blue-navigation: #202945;
--clr-blue-light: rgb(62, 85, 149);

--clr-white: #ffffff;
--clr-white-light: #CED2E8;
--clr-grey-light: #F1F1F1;
--clr-red: #B61A1A;

--padding-16-60px: 1rem 3.75rem;
}