:root {

--clr-blue-dark: #1C2137;
--clr-blue-night: #171B2B;
--clr-blue-navigation: #202945;
--clr-blue-light: rgb(62, 85, 149);

--clr-white: #ffffff;
--clr-white-light: #CED2E8;
--clr-grey-light: #F1F1F1;
--clr-red: #B61A1A;

--padding-mobile-page: .5rem;
--padding-tablet-page: .85rem;
--padding-desktop-page: 1rem;

--padding-mobile-nav: .5rem;
--padding-tablet-nav: .85rem;
--padding-desktop-nav: 1rem;

--nav-height: 55px;

--small-font-size: clamp(13px, 1vw, 16px);
--normal-font-size: clamp(15px, 1vw, 21px);
--large-font-size: clamp(17px, 1vw, 24px);

}