@import 'styles';

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: $clr-blue-dark;
    border: 1px solid $clr-blue-light;
    height: 100%;
    position: relative;
}
.card header {
    height: 12rem;
}

.card header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-menu {
    position: absolute;
    top: 25px;
    right: 25px;
}


.card-body {
    padding: 10px 20px;
    color: $clr-white-light;
}

.card-body_title {
    font-weight: 600;
    margin-bottom: 10px;
}

.card-body_description {
    text-overflow: ellipsis;
}

.card-body h5 {
    font-size: 13px;
    margin-bottom: 7px;
}

.card footer {
    color: $clr-white-light;
    font-size: 13px;
    padding: 10px 20px;

}

