<div class="card" (click)="openModal()">
    <header>
        <div class="card_header-bg"></div>
        <img height="100" alt="" src={{movie.img}}/>            
    </header>
    <div class="card-body d-flex justify-content-between gap-2">
        <h2 class="card-body_title"> {{ movie.title }} </h2>
        <button class="btn-fav d-flex justify-content-center align-items-center" (click)="handleFavorite($event)">
            <i class="bi bi-heart"></i>
        </button>
        
    </div>
</div>
