<nav id="nav" class="nav">
    <ul class='nav_menu'>
        <li class=''>
            <a routerLink="/cdaflix" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                true}"
            > Nouveautés </a>
        </li>
        <!-- fonctionnalité accessible que pour l'admin -->
        <!-- <li class=''>
            <a routerLink="/create" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                true}"
            >Ajouter un film</a>
        </li> -->
        <li class=''>
            <a routerLink="/films" 
                routerLinkActive="active-link" 
                ariaCurrentWhenActive="page" 
                [routerLinkActiveOptions]="{exact:
                true}"
            > Films </a>
        </li>
        @if (userLogged) {
            <li class=''>
                <a routerLink="/cdaflix/user/:id/mylist" 
                    routerLinkActive="active-link" 
                    ariaCurrentWhenActive="page" 
                    [routerLinkActiveOptions]="{exact:
                        true}"
                > Ma liste </a>
            </li>
        }
        
    </ul>    
    @if (userLogged) {
        <div class="nav_wrap-user-menu">
            <div class="nav_user-container-img">
                <img src="./assets/images/user-profile.jpg" alt="">
            </div>
            <div class="nav_user-infos">
                <h3>Hamidou SOW</h3>
                <span>admin <button (click)="disconnectUser()">se déconnecter </button> </span>
            </div>
        </div>      
    } @else {
        <button class="nav_btn-login rounded-btn">
            <a routerLink="/login"> connexion </a>
        </button>
    }    
</nav> 