.navigation {
    background-color: var(--clr-blue-navigation);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    
}


@media screen and (min-width: 320px) {
    .navigation { 
        padding: var(--padding-mobile-nav);
    }
    
    .nav_menu {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        align-items: center;
        padding: 0 5px;
    
        li a {
            font-size: var(--small-font-size);
            color: var(--clr-grey-light);
            font-weight: 600;
            text-decoration: none;
            text-wrap: nowrap;
            display: block;
        }    
    }

    .nav_menu.open {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
    }
    
    .active-link {
        color: var(--clr-red)!important;
        border-radius: 5px;
    }
    
    .nav_wrap-user-menu {
        display: flex;
        flex-direction: row;
    }
    
    .nav_user-container-img{
        height: 60px;
        width: 60px;
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        align-content: center;
    
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    
    .nav_user-infos {
        color: white;
        margin: 10px;
    }
    .nav_user-infos h3 {
        font-weight: 600;
        margin-bottom: 5px;
    }
    .nav_user-infos span {
        font-weight: 600;
        font-size: 13px;
    }
    
    .nav_btn-login {
        background-color: transparent;
        height: 30px;
        a {
            color: var(--clr-white);
            text-decoration: none;
        }
    }

    .secondary-menu {
        justify-content: end;
        flex: 1;
    }
}

@media screen and (min-width: 992px) {
    .navigation {
        padding: 15px 60px!important;
    }
}




