<div class="modal_">
    <!-- <div class="modal_btn-close">
        <i class="bi bi-x"></i>
    </div> -->
    <button type="button" class="btn-close bi bi-x"  aria-label="Close" (click)="closeModal()"></button>

    <div class="modal_movie">
        <div class="modal_movie_content">
            <div class="modal_movie_poster">
                <img src="{{movie ? imageBaseurl+movie.poster_path: ''}}" alt="">
            </div>
            <div class="modal_movie_details">
                <section class="modal_movie_details_left movie-description">
                    <h1 class="modal_movie_details_left--title">{{ movie ? movie.original_title : ''}}</h1>
                    <p class="modal_movie_details_left--description"> {{ movie ? movie.overview : '' }} </p>
                </section>
                <section class="modal_movie_details_right">
                    <!-- <h3>Acteurs : {{ movie ? movie.actors : '' }}</h3> -->
                    <p class="movie-language">Langue : <br> {{ movie ? movie.original_language : ''}}</p>             
                    <p class="movie-release_date">Date de sortie : <br> {{ movie ? movie.release_date : ''}}</p>
                </section> 
                <section class="providers"> 
                    @for (provider of movieProviders(); track $index) {
                        <a href="{{ provider.link }}"> LIEN </a>

                        <div class="d-flex flex-row">
                            
                            @for (buyItem of provider.buy; track $index) {
                                <div>
                                    <img src="{{ imageBaseurl + buyItem.logo_path }}" alt="{{buyItem.provider_name}}" height="35">
                                </div>
                                
                            }
                        </div>
                    }
                </section>      
            </div>
        </div>
    </div>
</div>

