#main-content {
    background-color: var(--clr-blue-night);
    min-height: 100dvh;
    padding: var(--padding-desktop-page);
}

@media screen and (min-width: 320px) {
    #main-content {
        padding: var(--padding-mobile-page);
    }
}