<header class="movie_header">
    <img src="{{movie ? movie.img : ''}}" alt="">
</header>
<div class="movie-content">
    <div class="movie_video-preview">
        video
    </div>
    <div class="movie_details">
        <div class="movie_details_left">
            <h1>{{ movie ? movie.title : ''}}</h1>
            <p class="movie_description"> {{ movie ? movie.description : '' }} </p>
        </div>
        <div class="movie_details_right">
            <h3>Acteurs : {{ movie ? movie.actors : '' }}</h3>
        </div>       
    </div>
</div>